.row-header{
    margin : 0px auto;
    padding: 0px auto;
}

.row-content{
    margin: 0px auto;
    padding:50px 0px 100px 0px;
    border-bottom: 1px ridge; 
    min-height: 400px;
}

.row-content-about_us{
    margin: 0px auto;
    padding:20px 0px 10px 0px; /* top , right, btm, left */
    min-height: 20px;
}

.row-content-our_history{
    margin: 0px auto;
    padding: 50px 0px 50px 0px; 
    border-bottom: 1px ridge;
    min-height: 0px;
}

.row-content-coporate_leadership{
    margin: 0px auto;
    padding:50px 0px 40px 10px; /* top , right, btm, left */
    border-bottom: 1px ridge; /* ridge draws a horizontal line */
    min-height: 400px;
}
.footer{
    background-color: #D1C4E9;
    margin : 0px auto;
    padding : 20px 0px 20px 0px;
}

.jumbotron{
    padding:70px 30px 70px 30px;
    margin :0px auto;
    background:#9575CD;
    color: floralwhite
}

.address{
    font-size: 80%;
    margin : 0px;
    color : #0F0F0F
}

body{
    padding:50px 0px 0px 0px ;
    z-index : 0;
}

.navbar-dark{
    background-color:#5d34a5;
}

input[type="radio"]{
    margin: 0 10px 0 10px;
  }

  b {
    margin: 0 22px 0 0px;
  }

#reserve{ /* id of button in index.html */
    border: none;
    background-color: #358ff6;
    margin-left: 175px;
    margin-top : 10px;
    padding: 10px 10px 10px 10px; /* top , right, btm, left */
    color : white;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
}
  
  /* On mouse-over */
  .btn:hover {background: #eee;}
  .reserve {color: white;}

#card_reserve_table_header{

    color: white !important;
    background-image: linear-gradient(brown,#FFD400 ) !important;
}

#reserve_top{
    margin-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #FFD400;
    font-size: 20px;
}

.tab-content{
    border-left :1px solid #ddd;
    border-right:1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding :10px;
}

.carousel{
    background: #512DA8;
}

.carousel-item{
    height:300px;
}

.carousel-item img{
    position:absolute;
    top: 0;
    min-height: 300px;

}

